*.py[cod]

# C extensions
*.so

# Virtualenv
env

# Packages
*.egg
*.eggs
*.egg-info
dist
build
eggs
parts
MANIFEST
var
sdist
develop-eggs
.installed.cfg
.cache
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Documentation
docs/_build

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
